<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>MLG Call of Duty: Advanced Warfare Pro League</title>
  <%= stylesheet_link_tag    "cod_style", media: "all" %>
	<style>
		body {
		  background-image: url("images/bg.png");
		  background-repeat: no-repeat;
		}
	</style>
	<script src="javascripts/jquery.js"></script>
	<script src="javascripts/jquery-ui.min.js"></script>
	<script src="javascripts/jquery-ui.js"></script>

	<script src="javascripts/jquery.mobile.custom.js"></script>
	<script src="javascripts/jquery.mobile.custom.min.js"></script>

	<script src="javascripts/selection.js"></script>
	<script src="javascripts/logo.js"></script>
</head>
<body bgcolor="black">
	<section class="map-selections">
		<div class="container draggable">
			<ul class="picks">
				<ul class="sortable highlight first" id="1"></ul>
				<ul class="sortable highlight" id="4"></ul>
				<ul class="sortable highlight first" id="2"></ul>
				<ul class="sortable highlight" id="5"></ul>
				<ul class="sortable highlight first" id="3"></ul>
			</ul>
			<ul class="pool sortable highlight">
				<li class="blitz-freight dragme" data-number="0"></li>
				<li class="blitz-octane dragme" data-number="1"></li>
				<li class="blitz-warhawk dragme" data-number="2"></li>
				<li class="dom-freight dragme" data-number="3"></li>
				<li class="dom-octane dragme" data-number="4"></li>
				<li class="dom-sovereign dragme" data-number="5"></li>
				<li class="dom-strikezone dragme" data-number="6"></li>
				<li class="snd-freight dragme" data-number="7"></li>
				<li class="snd-octane dragme" data-number="8"></li>
				<li class="snd-sovereign dragme" data-number="9"></li>
				<li class="snd-warhawk dragme" data-number="10"></li>
			</ul>
			<div class="team-logo" id="1" data-number="1"></div>
			<div class="team-logo team-logo2" id="2" data-number="2"></div>
			<ul class="vetoes team-1 sortable highlight"></ul>
			<ul class="vetoes team-2 sortable highlight"></ul>
		</div>
	</section>
</body>
</html>