<footer class="footer group">
  <div class=footer-wrap>
    <ul class="footer-links">
      <li>
        <a class="email" href="#/contact">Email</a>
        <div class="email-pop-up">williampnoll@gmail.com</div>
      </li>
      <li>
        <a class="git" href="http://www.github.com/winevitable">GitHub</a>
      </li>
      <li>
        <a class="blog" href="http://winevitable.tumblr.com">Blog</a>
      </li>
      <li>
        <a class="twit" href="http://www.twitter.com/winevitable">Twitter</a>
      </li>
    </ul>
  </div>
</footer>