<header class="header">
  <nav class="header-nav group">
    <h1 class="logo"><a class="win no-underline" href="#">wInevitable</a></h1>
    <h4 class="motto">Victory Is Assured</h4>

    <ul class="links">
      <li><a class="sum" href="#">SUMMARY</a></li>
      <li>
        <a class="pro sticky" href="#">PROJECTS</a>
        <ul class="dropdown sticky">
          <li class=" sticky"><a class="yelp sticky" href="#">YelpLite</a></li>
          <li class=" sticky">
            <a class="record sticky" href="#">ForTheRecord</a>
          </li>
          <li class=" sticky">
            <a class="ast sticky" href="#">
              Star Trek: Collision on the Frontier
            </a>
          </li>
          <li class=" sticky">
            <a class="hanoi sticky" href="#">The Fall of Hanoi</a>
          </li>
          <li class=" sticky">
            <a class="tic sticky" href="#">X's Versus O's</a>
          </li>
        </ul>
      </li>
      <li><a class="con" href="#">CONTACT</a></li>
    </ul>
  </nav>
</header>