<header class="header">
  <nav class="header-nav group">
    <h1 class="logo"><a class="win" href="#">wInevitable</a></h1>
    <h4 class="motto">Victory Is Assured</h4>

    <ul class="links">
      <li><a class="sum" href="#/summary">SUMMARY</a></li>
      <li class="pro sticky">PROJECTS
        <ul class="dropdown sticky">
          <li class=" sticky">
            <a class="yelp sticky" href="http://www.yelplite.com">YelpLite</a>
          </li>
          <li class=" sticky">
            <a class="record sticky" href="https://github.com/wInevitable/ForTheRecord">ForTheRecord</a>
          </li>
          <li class=" sticky">
            <a class="ast sticky" href="#/startrek">
              Star Trek: Collision on the Frontier
            </a>
          </li>
          <li class=" sticky">
            <a class="hanoi sticky" href="#/hanoi">The Fall of Hanoi</a>
          </li>
          <li class=" sticky">
            <a class="tic sticky" href="#/tic">X's Versus O's</a>
          </li>
        </ul>
      </li>
      <li><a class="con" href="#/contact">CONTACT</a></li>
    </ul>
  </nav>
</header>