/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- STYLES

BLUE: #003264
GREY: #ccc
BLACK #000
WHITE: #fff

 --- */


/* --- RESET --- */

html, body, header, footer, nav, h1, h4, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: helvetica;
  background: #ccc;
  color: #003264;
  font-size: 16px;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #003264;
}

a:hover {
  cursor: pointer;
}

/* --- UTILITIES --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.no-underline:hover {
  text-decoration: none;
  background: #000;
}

/* --- HEADER --- */

.header {

}

.header > .header-nav {
  position: relative;
  display: block;
  width: 100%;
  height: 30%;
  background: #fff;
}

.header > .header-nav > .logo {
  display: block;
  float: left;
  font-size: 48px;
  font-style: bold;
  padding: 20px 40px;
}

.header > .header-nav > .motto {
  font-style: bold;
  position: absolute;
  bottom: 10px;
  left: 160px;
  font-style: italic;
  color: #003264;
  font-size: 14px;
}

.header > .header-nav > .links {
  margin: 30px 0;
  padding: 0 20px;
  float: right;
}

.header > .header-nav > .links > li {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 5px 20px;
  float: left;
}

.header > .header-nav > .links > li > a:hover {
  text-decoration: none;
}

.header > .header-nav > .links > li:not(:last-child) {
  border-right: 2px solid #ccc;
}

.header > .header-nav > .links > li > .dropdown {
  position: absolute;
  top: 29px;
  right: -2px;
  border: 2px solid #ccc;
  width: 300px;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.header > .header-nav > .links > li > .dropdown.show {
  display: block;
}

.header > .header-nav > .links > li > .dropdown > li {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  width: 260px;
}

.header > .header-nav > .links > li > .dropdown > li:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

.header > .header-nav > .links > li > .dropdown > li:first-child {
  border-top-left-radius: 5px;
}

.header > .header-nav > .links > li > .dropdown > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header > .header-nav > .links > li > .dropdown > li:hover {
  background: #003264;
}

.header > .header-nav > .links > li > .dropdown > li:hover a {
  color: #fff;
}

/* --- CONTENT --- */

.ttt {
  width: 900px;
  margin: auto;
  background: #ccc;
}

/* --- TTT --- */

.ttt > header {
  width: 900px;
  margin: auto;
  padding: 20px;
}

.ttt > header > h1 {
  display: block;
  margin: auto;
  width: 450px;
  font-size: 48px;
  font-style: bold;
  padding: 20px 0;
  text-align: center;
}

.ttt > header > h4 {
  width: 450px;
  margin: auto;
  padding: 20px;
  font-size: 24px;
  font-style: italic;
  border-top: 2px solid #aaa;
  text-align: center;
}

/*.ttt > .wrap {
  width: 450px;
  margin-left: 250px;
}*/

.ttt > .wrap > ul {
  display: block;
  margin: 20px auto 50px auto;
  margin-left: 305px;
  width: 300px;
  background: #709DC4; /* Carolina Blue! */
  border: 5px solid #000;
}

.ttt > .wrap > ul > li {
  display: block;
  float: left;
  list-style: none;
  width: 90px;
  height: 90px;
  background: #aaa;
  border: 5px solid #000;
}

.ttt > .wrap > ul > li:hover {
  background: transparent;
}

.ttt > .wrap > ul > li.x {
  background: #709DC4;
  color: #aaa;
  font-size: 80px;
  line-height: .95;
  text-align: center;
}

.ttt > .wrap > ul > li.o {
  background: red;
  color: #aaa;
  font-size: 80px;
  line-height: .95;
  text-align: center;
}

/* --- FOOTER --- */

.footer {
  background: #003264;
}

.footer > .footer-wrap {
  width: 900px;
  margin: auto;
}

.footer > .footer-wrap > .footer-links {
  float: right;
  margin: auto;
  padding: 10px 200px;
}

.footer > .footer-wrap > .footer-links > li {
  position: relative;
  cursor: pointer;
  float: left;
  padding: 0px 30px;
  margin: 20px 0;
}

.footer > .footer-wrap > .footer-links > li:not(:last-child) {
  border-right: 2px solid #fff;
}

.footer > .footer-wrap > .footer-links > li > a {
  color: #fff;
  font-style: bold;
  padding: 10px;
}

.footer > .footer-wrap > .footer-links > li > a:hover {
  background: #000;
  border-radius: 5px;
}

.footer > .footer-wrap > .footer-links > li > .email-pop-up {
  position: absolute;
  display: none;
  color: #000;
  background: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  top: 30px;
}

.footer > .footer-wrap > .footer-links > li > .email-pop-up.email-show {
  display: block;
}