/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* --- STYLES

BLUE: #003264
GREY: #ccc
BLACK #000
WHITE: #fff

 --- */


/* --- RESET --- */

html, body, section, header, footer, nav, h1, h4, h6, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: helvetica;
  background: #ccc;
  color: #003264;
  font-size: 16px;
  height: 100%;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #003264;
}

a:hover {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/* --- UTILITIES --- */

.group:after {
  content: "";
  display: block;
  clear: both;
}

.no-underline:hover {
  text-decoration: none;
  background: #000;
}

/* --- HEADER --- */

.header {

}

.header > .header-nav {
  position: relative;
  display: block;
  background: #fff;
}

.header > .header-nav > .logo {
  display: block;
  float: left;
  font-size: 48px;
  font-style: bold;
  padding: 20px 40px;
}

.header > .header-nav > .motto {
  font-style: bold;
  position: absolute;
  bottom: 10px;
  left: 160px;
  font-style: italic;
  color: #003264;
  font-size: 14px;
}

.header > .header-nav > .links {
  margin: 30px 0;
  padding: 0 20px;
  float: right;
}

.header > .header-nav > .links > li {
  position: relative;
  display: block;
  padding: 5px 20px;
  float: left;
}

.header > .header-nav > .links > li.pro {
  cursor: pointer;
}

.header > .header-nav > .links > li > a {
  display: block;
  cursor: pointer;
}

.header > .header-nav > .links > li > a:hover {
  text-decoration: none;
}

.header > .header-nav > .links > li:not(:last-child) {
  border-right: 2px solid #ccc;
}

.header > .header-nav > .links > li > .dropdown {
  position: absolute;
  top: 29px;
  right: -2px;
  border: 2px solid #ccc;
  width: 300px;
  background: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.header > .header-nav > .links > li > .dropdown.show {
  display: block;
}

.header > .header-nav > .links > li > .dropdown > li {
  display: block;
}

.header > .header-nav > .links > li > .dropdown > li > a {
  cursor: pointer;
  padding: 10px 20px;
  display: block;
}

.header > .header-nav > .links > li > .dropdown > li:not(:last-child) {
  border-bottom: 2px solid #ccc;
}

.header > .header-nav > .links > li > .dropdown > li:first-child {
  border-top-left-radius: 5px;
}

.header > .header-nav > .links > li > .dropdown > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header > .header-nav > .links > li > .dropdown > li:hover {
  background: #003264;
}

.header > .header-nav > .links > li > .dropdown > li:hover a {
  color: #fff;
}

/* --- CONTENT --- */

.home {
  width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
}

.home > header {
  margin: auto;
  width: 600px;
  text-align: center;
}

.home > header > h1 {
  display: block;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid #aaa;
}

.home h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.home h6 {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
}

.home > ul {
  width: 800px;
  padding: 50px;
}

.home > ul > li {
  float: left;
  width: 360px;
  padding: 0 20px;
  margin: 20px 0;
}

.home > ul > li > p {
  display: block;
  font-size: 18px;
  margin: 20px 0;
}

.home > ul > li > a {
  width: 300px;
}

.home > ul > li > a > img {
  width: 290px;
  border: 5px solid #003264;
}

.summary {
  width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
}

.summary > article {
}

.summary > article > h1 {
  width: 600px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.summary > article > img {
  float: right;
  padding: 20px;
  width: 200px;
  height: auto;
}

.summary > article > p {
  width: 860px;
  padding: 0 20px;
  font-size: 18px;
}

.contact {
  width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
}

.contact > h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
}

.contact > ul {
  padding: 20px;
}

.contact > ul > li {
  border-bottom: 2px solid #ccc;
  padding: 20px;
}

.contact > ul > li > info {
  float: right;
}

/* --- STAR TREK --- */

.collision {
  width: 1100px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.collision > h1 {
  display: block;
  margin: auto;
  width: 400px;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 2px solid #aaa;
}

.collision > h4 {
  width: 600px;
  margin: auto;
  padding: 20px;
  font-size: 24px;
  font-style: italic;
}

.collision > .canvas {
  border: 5px solid #003264;
  margin-bottom: 20px;
}

.collision > h6 {
  width: 600px;
  margin: auto;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.collision > h6 > a {
  color: #000;
}

/* --- HANOI --- */

.hanoi {
  width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.hanoi > header {
}

.hanoi > header > h1 {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 400px;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #aaa;
}

.hanoi li {
  background: #aaa;
  border-radius: 5px;
}

.hanoi > footer {
  display: block;
  width: 600px;
  margin: 50px auto;
  margin-top: 100px;
}

.hanoi > footer > h4 {
  display: block;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 24px;
}

.hanoi > footer > h6 {
  display: block;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.hanoi > footer > h6 > a {
  color: #000;
}

.hanoi > .towers {
  width: 600px;
  margin: auto auto;
}

.hanoi > .towers ul {
  width: 200px;
  float: left;
}

.hanoi > .towers:after{
  content: "";
  display: block;
  clear: both;
}

.hanoi > .bases {
  display: block;
  width: 600px;
  margin: 0 auto 50px auto;
}

.hanoi > .towers li {
  display: block;
  height: 90px;
  width: 140px;
  border: 5px solid black;
  margin: auto auto;
}

.hanoi > .towers .small {
  width: 40px;
}

.hanoi > .towers .medium {
  width: 90px;
}

.hanoi > .towers .large {
}

.hanoi > .towers .hidden {
  border: 5px solid transparent;
  background: transparent;
}

.hanoi > .bases li {
  display: block;
  height: 90px;
  width: 190px;
  border: 5px solid black;
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 2;
}

.hanoi > .bases .one:hover li {
  cursor: pointer;
  background: #fff;
}

.hanoi > .bases .two:hover li {
  cursor: pointer;
  background: #fff;
}

.hanoi > .bases .three:hover li {
  cursor: pointer;
  background: #fff;
}

.hanoi .active {
  background: #fff;
}

/* --- TTT --- */

.ttt {
  width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.ttt > header {
}

.ttt > header > h1 {
  display: block;
  margin: auto;
  width: 400px;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}

.ttt > header > h4 {
  width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 24px;
  font-style: italic;
  border-top: 2px solid #aaa;
  text-align: center;
}

.ttt > ul {
  display: block;
  margin: 20px auto 50px auto;
  width: 300px;
  background: #709DC4; /* Carolina Blue! */
  border: 5px solid #000;
}

.ttt > ul > li {
  display: block;
  float: left;
  list-style: none;
  width: 90px;
  height: 90px;
  background: #aaa;
  border: 5px solid #000;
}

.ttt > ul > li:hover {
  background: transparent;
}

.ttt > ul > li.x {
  background: #709DC4;
  color: #aaa;
  font-size: 80px;
  line-height: .95;
  text-align: center;
}

.ttt > ul > li.o {
  background: red;
  color: #aaa;
  font-size: 80px;
  line-height: .95;
  text-align: center;
}

.ttt > h6 {
  display: block;
  padding: 20px 20px 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.ttt > h6 > a {
  color: #000;
}

/* --- FOOTER --- */

.footer {
  display: block;
  background: #003264;
  bottom: 50px;
  left: 0;
  right: 0;
}

.footer > .footer-wrap {
  width: 900px;
  margin: auto;
}

.footer > .footer-wrap > .footer-links {
  margin: auto;
}

.footer > .footer-wrap > .footer-links > li {
  position: relative;
  cursor: pointer;
  float: left;
  padding: 0px 55px;
  margin: 20px auto;
}

.footer > .footer-wrap > .footer-links > li:not(:last-child) {
  border-right: 2px solid #fff;
}

.footer > .footer-wrap > .footer-links > li > a {
  color: #fff;
  font-style: bold;
  padding: 10px;
}

.footer > .footer-wrap > .footer-links > li > a:hover {
  background: #000;
  border-radius: 5px;
}

.footer > .footer-wrap > .footer-links > li > .email-pop-up {
  position: absolute;
  display: none;
  color: #000;
  background: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  top: 30px;
}

.footer > .footer-wrap > .footer-links > li > .email-pop-up.email-show {
  display: block;
}