<section class="contact">
  <h1>Contact Information</h1>
  <ul>
    <li><strong>Email:</strong> <info> williampnoll@gmail.com</info></li>
    <li><strong>LinkedIn:</strong> <info> <a href="https://www.linkedin.com/in/williampnoll">www.linkedin.com/in/williampnoll</a></info></li>
    <li><strong>Twitter:</strong> <info> <a href="https://www.twitter.com/winevitable">www.twitter.com/winevitable</a></info></li>
    <li><strong>Blog:</strong> <info> <a href="http://winevitable.tumblr.com">winevitable.tumblr.com</a></info></li>
  </ul>
</section>