<section class="contact">
  <h1>Contact Information</h1>
  <ul>
    <li><strong>Email:</strong> &nbsp; williampnoll@gmail.com</li>
    <li><strong>LinkedIn:</strong> &nbsp; <a href="https://www.linkedin.com/in/williampnoll">www.linkedin.com/in/williampnoll</a></li>
    <li><strong>Twitter:</strong> &nbsp; <a href="https://www.twitter.com/winevitable">www.twitter.com/winevitable</a></li>
    <li><strong>Blog:</strong> &nbsp; <a href="http://winevitable.tumblr.com">winevitable.tumblr.com</li>
  </ul>
</section>