<section class="hanoi">
  <header>
    <h1 class="player">The Fall of Hanoi</h1>
  </header>

  <ul class="towers">
    <ul class="one">
      <li class="small"></li>
      <li class="medium"></li>
      <li class="large"></li>
    </ul>
    <ul class="two">
      <li class="hidden"></li>
      <li class="hidden"></li>
      <li class="hidden"></li>
    </ul>
    <ul class="three">
      <li class="hidden"></li>
      <li class="hidden"></li>
      <li class="hidden"></li>
    </ul>
  </ul>
  <ul class="bases">
      <li>T1</li>
      <li>T2</li>
      <li>T3</li>
  </ul>
  <footer>
    <h4>Click on a Tower or Boulder to select a piece to move.</h4>
    <h4>Then click on a Destination Tower to move your piece.</h4>
    <h4>Get all 3 pieces to the 3rd Tower to win!</h4>
    <h6><a href="https://github.com/wInevitable/TheFallofHanoi">GitHub Repo</a></h6>
  </footer>
</section>

<script>
  $(function() {
    game = new Hanoi.Game();

    $(".hanoi li").each(function(index, block) {
      new Hanoi.HanoiUI(game, block, index).installClickListener();
    });
  });
</script>