<section class="home group">
  <header>
    <h1>Welcome to Will Noll's Porfolio!</h1>
    <h4>Feel free to browse my projects and send me a message.</h4>
  </header>
  <ul>
    <li><a href="http://www.theesportsnetwork.com"><h4>The eSports Network</h4></a>
      <p>An eSports-focused website built as a single page application with Rails and Backbone. Front end implementation is near completion with back end to follow.</p>
      <a href="http://www.theesportsnetwork.com"><img src="images/ten.png"></a>
    </li>
    <li><a href="https://github.com/wInevitable/YelpLite"><h4>YelpLite</h4></a> <h6><a href="https://github.com/wInevitable/YelpLite">(Github)</a></h6>
      <p>Features geographically-linked directory search, MapBox-based visual display, and rating and review system.</p>
      <a href="http://www.yelplite.com"><img src="images/YelpLite.png"></a>
    </li>
    <li><a href="https://github.com/wInevitable/ForTheRecord"><img src="images/ForTheRecord.png"><h4>ForTheRecord</h4></a>
      <p>ActiveRecord in a box. Written in Ruby with metaprogrammed methods running custom SQL.</p>
      <a href="https://github.com/wInevitable/ForTheRecord"><img src="images/ForTheRecord.png"></a>
    </li>
    <li><a href="#/hanoi"><img src="images/Hanoi - Screen.png"><h4>The Fall of Hanoi</h4></a>
      <p>A JavaScript implementation of the classic puzzle: Towers of Hanoi. Move all of the boulders to the third tower to win!</p>
      <a href="#/hanoi"><img src="images/Hanoi - Screen.png"></a>
    </li>
    <li><a href="#/collision"><h4>Collision</h4></a>
      <p>A fun take on an old Arcade hit, Asteroids. Blast your way through before you're knocked off course.</p>
      <a href="#/collision"><img src="images/trek.png"></a>
    </li>
    <li><a href="#/tic"><h4>X's versus O's</h4></a>
      <p>Another JavaScript implementation of a timeless game: Tic Tac Toe. Don't forget to invite a friend!</p>
      <a href="#/tic"><img src="images/TTT - Screen.png"></a>
    </li>
  </ul>
</section>