<section class="home">
  <h1>Welcome to My Porfolio!</h1>
  <ul>
    <li>
      <a href="http://www.yelplite.com"><img src="images/YelpLite.png"></a>
    </li>
    <li><a href="https://github.com/wInevitable/ForTheRecord"><img src="images/ForTheRecord.png"></li>
    <li><a href="#/trek">Trek</a></li>
    <li><a href="#/hanoi"><img src="images/Hanoi - Screen.png"></a></li>
    <li><a href="#/tic"><img src="images/TTT - Screen.png"></a></li>
  </ul>
</section>