<section class="home group">
  <header>
    <h1>Welcome to My Porfolio!</h1>
    <h4>Feel free to browse my projects and send me a mesage.</h4>
  </header>
  <ul>
    <li><h4>YelpLite</h4>
      <p>A clone of Yelp. Features authentication, business reviews and ratings, image uploads, geographical search, and a map display.</p>
      <a href="http://www.yelplite.com"><img src="images/YelpLite.png"></a>
    </li>
    <li><h4>ForTheRecord</h4>
      <p>A miniature port of some of the prominent features of ActiveRecord. Built with Ruby, DB_Connection, and a bunch of SQL queries.</p>
      <a href="https://github.com/wInevitable/ForTheRecord"><img src="images/ForTheRecord.png"></a>
    </li>
    <li><h4>The Fall of Hanoi</h4>
      <p>A JavaScript implementation of the classic puzzle: Towers of Hanoi. Move all of the boulders to the third tower to win! Utilizes the jQuery and Underscore libraries.</p>
      <a href="#/hanoi"><img src="images/Hanoi - Screen.png"></a>
    </li>
    <li><h4>StarTrek: Collision on the Frontier</h4>
      <p>A fun take on an old Arcade hit, Asteroids. Navigate your way through the asteroids before they knock you off course.</p>
      <a href="#/trek"><img src="images/trek.png"></a>
    </li>
    <li><h4>X's versus O's</h4>
      <p>A simple JavaScript implementation of a timeless game: Tic Tac Toe. Get 3 in a row to win. Don't forget to invite a friend! Utilizes the ever popular jQuery and Underscore libraries.</p>
      <a href="#/tic"><img src="images/TTT - Screen.png"></a>
    </li>
  </ul>
</section>