<section class="summary group">
  <article>
    <h1>About Will</h1>
    <img src="images/test.jpg">

    <p>Ever encountered a puzzle you just couldn't walk away from? Or an intriguing riddle that stayed with you for days? For me that puzzle is coding. I'm a problem-solver at heart and I found a home in the code I write.</p>

    <p>Each project and every feature I implement is another chance to hone my craft, another obstacle to tackle, and a new opportunity to grow. I love seeing results, specifically the hard-earned victories born of a tough day at the keys.</p>

    <p>While I have always been a problem-solver and enjoyed attacking complex issues head on, my journey into coding started with a foray into the world of professional video gaming, eSports. What can I say? I love video games, too, but before long I wanted to get at the meat of the issue, at the framework underlying these games and the many web applications supporting the scene.</p>

    <p>So, I started down a road that began with <em>HTML/CSS</em> and quickly transitioned into <em>Ruby</em> before leading to <em>Rails, JavaScript, and Backbone</em>. I've fully enjoyed working with each aspect of the stack from the <em>jQuery and AJAX</em> fashioning on the front-end to the management of <em>SQL</em> queries in the back.</p>

    <p>Another great part of my journey has been the people I've met along the way. I've been honored to have worked with many smart, driven individuals just as passionate about their code. Together we have <em>REST'd and CRUD'd our way to a DRY return</em>.</p>

    <p>I'm hoping for many more positive experiences like these in the future and am currently looking for new opportunities as a web developer. If you're looking for a programmer to supplement your team or help build out your dreams, feel free to get in touch!</p>
  </article>
</section>