<section class="ttt">
  <header>
    <h1>X's Versus O's</h1>
    <h4>A Game of Tic Tac Toe</h4>
  </header>

  <ul class="grid group">
    <li></li>
    <li></li>
    <li></li>

    <li></li>
    <li></li>
    <li></li>

    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h6><a href="https://github.com/wInevitable/TheFallofHanoi">GitHub Repo</a></h6>
</section>

<script>
  $(function() {
    game = new TTT.Game();
    $(".grid li").each(function(index, square) {
      var ui = new TTT.TTTUI(game, square, index).installClickListener();
    });
  });
</script>